<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Synthetic data</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div id="main-container">
    <header>
        <div class="horizontal-line"></div>
        <span class="span-text">SYNTHETIC DATA</span>
        <div class="horizontal-line"></div>
    </header>
    <div id="selector-container">
        <div class="selector not-selected" id="technologies">
            <span class="selector-text">Technologies
                <img class="side-icon" src="{{ url_for('static', filename='img/technics.svg') }}" alt="">
            </span>
        </div>
        <div class="selector selected" id="generation">
            <span class="selector-text">Generation
                <img class="side-icon" src="{{ url_for('static', filename='img/cells.svg') }}" alt="">
            </span>
        </div>
        <div class="selector not-selected" id="evaluation">
            <span class="selector-text">Evaluation
                <img class="side-icon" src="{{ url_for('static', filename='img/evaluation.svg') }}" alt="">
            </span>
        </div>
    </div>
    <div class="page hide" id="technologies-page">
        {% block technologies_page %}{% endblock %}
    </div>
    <div class="page show" id="generation-page">
        {% block generation_page %}{% endblock %}
    </div>
    <div class="page hide" id="evaluation-page">
        {% block evaluation_page %}{% endblock %}
    </div>
    <footer>
        <div class="horizontal-line"></div>
        <span class="span-text">
            Proof of concept : this application provides a state of the art generation of synthetic data.
        </span>
        <div class="horizontal-line"></div>
    </footer>
    <div id="msgbox-area" class="msgbox-area"></div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% block notifications %}{% endblock %}
</body>

</html>